/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* CSS Variables */
:root {
  --primary-color: #6366f1;
  --secondary-color: #0f172a;
  --background-color: #f8fafc;
  --text-color: #1e293b;

  --border-radius: 10px;

  /* Transition */
  --transition: all 0.3s ease;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll Smooth */
html {
  scroll-behavior: smooth;
  /* Enables smooth scrolling for the entire website */
}

/* Body */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Common Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Section Spacing */
section {
  padding: 80px 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

/* Buttons */
button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: var(--transition);
}

/* Lists */
ul {
  list-style: none;
}

section {
  scroll-margin-top: 80px;
}